.login{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background: url("https://images5.alphacoders.com/884/884353.jpg") ;
    height:500px;
    background-size: contain;
    box-sizing: border-box;
    width:  1335px;
       
}
.logintitle{
    font-size: 50px;
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}
.loginform{
    margin-top: 10px;
    display: flex;
    
    flex-direction: column;


}
.loginform > label{
    margin: 10px 0;
    color: white;

}
.loginform > input{
  padding: 10px;
  background-color: white;
  border: none;
  border-bottom: 1px solid gray;
}
.loginbtn{
    margin-top: 20px;
    cursor: pointer;
    background-color: green;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.loginregister{
position: absolute;
top: 100px;
right: 20px;
background-color: lightcoral;
cursor: pointer;
border: none;
color: white;
border-radius: 10px;

}
.loginregister1{
    position: absolute;
    top: 100px;
    right: 7rem;
    background-color: wheat;
    border: none;
    color: black;

    
    }